@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding:0;
  margin: 0;
  
}

body{
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

:root{
  --color-primary: #231c1c;
  --color-accent: #f3f3f3;
  --bg-color: #57b3ca;

  --transition: all 400ms ease ;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}