.container{
    margin: 4rem;
    padding: 2rem;
    border-radius: .4rem;
    height: fit-content;
    background: var(--color-accent);
}

input{
    height: 2rem;
    margin-right: .5rem;
    padding-left: .5rem;
}

button{
    height: 2rem;
    outline: 0;
    padding: 0 .75rem;
}

li{
    display: flex;
    align-items: center;
    margin: 1rem;
    list-style-type: none;
}

p{
    margin-right: .5rem;
}

hr{
    margin: 2.5rem 0;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 3rem;
    }
  }
  
  /* ============= Media queries (Mobile) ======================= */
  
  @media screen and (max-width: 600px) {
    .container {
      margin: 2rem;
    }
  }
  
  /* ============= Media queries (Mobile) ======================= */
  
  @media screen and (max-width: 390px) {
    .container {
      margin: 1rem;
    }
}